@import 'tailwindcss';

@import '@auth0/universal-components-react/styles';

@theme inline {
  --color-page: var(--color-page);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);

  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-border: var(--color-border);

  --color-ring: oklch(from var(--color-ring) l c h / 50%);
}

:root {
  --radius: 0.625rem;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.261 0.0079 84.59);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-border: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(0.2103 0.0059 285.89);
    --color-foreground: oklch(0.985 0 0);
    --color-card: oklch(0 0 0);
    --color-card-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.9465 0.0058 84.57);
    --color-primary-foreground: oklch(0.205 0 0);
    --color-muted: oklch(0.269 0 0);
    --color-muted-foreground: oklch(0.708 0 0);
    --color-accent: oklch(0.371 0 0);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-border: oklch(1 0 0 / 10%);
    --color-ring: oklch(0.556 0 0);
  }
}
